@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            <strong>Container ID:</strong> <code>@Model.ContainerId</code>
        </p>
        <p>
            <strong>Container Ip:</strong> <code>@Model.IpAddress</code>
        </p>
        <p>
            <strong>Application Name:</strong> <code>@Model.ApplicationName</code>
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
